/* Write some CSS below */
body {
    background-image: url(images/background.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #333333 ;
    font-size: 16px;
    font-family: "Lora", serif;
    text-align: center;
  }
  
  h1, h2 {
    font-family: "Roboto", serif;
  }
  
  h1 {
    font-size: 32px;
    font-weight: 900;
  }
  
  h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 700;
  }
  
  .cards-white h1:hover{
    background-image:url(images/Eclair.gif);
    background-position:top;
    background-size: cover;
  }

  a {
    text-decoration: none;
    color:white;
    background-color: #46A049;
    border-radius: 5px;
    padding: 15px 25px;
  }
  
  .cards-white {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 48px;
    margin: 40px auto;
    border-radius: 5px;
    width: 600px;
  }
  
  img {
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
  }

  img:hover {
    transform: scale(1.2);
  }
  
  a:hover {
    background-color: #88c542;
  }

  .btn-linkedin:hover{
    transform: scale(1.2);
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
  }

  li {
    padding: 5px 0;
  }

    .boutonlogo {
    display: inline-block;
    background-color: rgba(170, 231, 167, 0.7); 
    border: none;
    text-decoration: none; 
    border-radius: 5px;
  }

    .boutonlogo img {
    width: auto; 
    height: 60px; 
    border-radius: 0;
  }

  
    .boutonlogo:hover {
        background-color: rgb(63, 63, 63);
  }

    #imagenadal  {
    border-radius: 0;
    height: 150px; 
  }

    #decalage {
    margin-bottom: 50px;
  }
  
  .social-media-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.social-media-buttons:hover {
transform: scale(1.1);
}

.social-button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
}

.social-button i {
    font-size: 34px;
    line-height: 40px;
}

.social-button:hover {
  opacity: 0.7;
 
}
  
.effect{
  transition: 0.5s;
}